.idea
.vscode
node_modules
commonjs_out
google/protobuf
bazel-*
/deps.js
/testproto_libs1.js
/testproto_libs2.js
/google-protobuf.js
/google-protobuf-*.tgz
/conformance/protos/*.js
/conformance/package-lock.json
